bower_components
node_modules
thumbnails
npm-debug.log
.jshintignore
uploads
modules/bookmarks-module/settings.json
modules/media-controls-module/settings.json
modules/reddit-wallpapers-module/settings.json
modules/system-info-module/settings.json
!placeholder.png
