template(is= "dom-bind")
    form(is= "iron-form", id= "addBookmark", action= "/bookmarks/addBookmark", method="POST")
        paper-input(label= "Name for your bookmark", name= "bookmarkName")
        br
        paper-input(label= "Url for your bookmark", name= "bookmarkLink")
        paper-dropdown-menu(label= "category")
            paper-menu(class="dropdown-content", attr-for-selected="value", selected= "{{category}}")
                each category in bookmarks.categories
                    paper-item(value= category.name)= category.name
                paper-item(value= "newCategory")= "Add new category"
        input(type="hidden", name="category", value="{{category}}")
        paper-toast(id= "noCategoryToast", text= "Please, select an category")
        paper-button(onclick= "addBookmark()")
            iron-icon(icon="check")
            |Add
