extends layout.pug

block title
    title SolanaPage

block append main-page
    each module in modules
        if module.mainView
            div(id= module.name, class= "modules")
                != module.mainView

block append settings-page
    div(id= "SettingsDrawerOptions")
        paper-menu(selected="{{settingsSelected}}")
            each module in modules
                if module.settingsView
                    paper-item
                        = module.module
    iron-pages(selected="[[settingsSelected]]", id="settingsPages")
        each module in modules
            if module.settingsView
                div(id= module.name, class= "modules")
                    paper-material
                        != module.settingsView

block append scripts
    each module in modules
        if module.script
            script(type= "text/javascript")
                != module.script

block append css
    each module in modules
        if module.css
            = '\n'
            != module.css

block append cssCustom
    each module in modules
        if module.css
            = '\n'
            != module.css
