paper-material(elevation= "1")
    iron-collapse(id= "bookmarksColapse", opened= "true")
        div(id= "bookmarks")
            template(is= "dom-bind", id= "bookmarksTemplate")
                paper-tabs(selected= "{{page}}" id="bookmark-tabs")
                    each category in bookmarks.categories
                        paper-tab= category.name
                iron-pages(selected= "{{page}}" id="test")
                    each category in bookmarks.categories
                        div
                            each bookmark in category.bookmarks
                                a(href= bookmark.url, class= "bookmarksLink")
                                    paper-card(image= "thumbnails/" + bookmark.name  + ".png", id= bookmark.name, placeholderImage= "/static/wall.jpg")= bookmark.name
