template(is= "dom-bind", id= "activeModules")
    paper-material(id='activeModulesDiv', class="settingsMaterial")
        div(class="settingsTitle")
            | Choose active modules:
        div(class="settingsContent")
            each module in settings.modules
                paper-toggle-button(id='test', name=module.name, checked= `${module.active}`)= module.name
        paper-button(class="settingsButton", onclick= "submitActiveModules()")
            iron-icon(icon= "check")
            |OK
    paper-material(class="settingsMaterial")
        div(class="settingsTitle")
            | Upload wallpaper:
        div(class="settingsContent")
            form(id="wallpaperForm", method="post", action="/changeWallpaper", enctype="multipart/form-data")
                paper-input(name ="wallpaper", type="file", id="wallpaper")
        paper-button(onclick="document.getElementById('wallpaperForm').submit()", class="settingsButton")
            iron-icon(icon= "check")
            |ok
    paper-material(class="settingsMaterial")
        div(class="settingsTitle")
            |Info
        div(class="settingsContent")
            ="App made by "
            a(href="https://github.com/SolanaFish", class="blackUrl")
                ="SolanaFish"
            br
            br
            a(href="https://github.com/SolanaFish/SolanaPage", class="blackUrl")
                ="Repository"
            br
            br
            ="If you have any problems please open an issue "
            a(href="https://github.com/SolanaFish/SolanaPage/issues", class="blackUrl")
                ="here"
