template(is= "dom-bind", id= "activeModules")
    paper-material#activeModulesDiv.settingsMaterial
        div.settingsTitle
            | Choose active modules:
        div.settingsContent
            each module in settings.modules
                paper-toggle-button(id='test', name=module.name, checked= `${module.active}`)= module.name
        paper-button.settingsButton(onclick= "submitActiveModules()")
            iron-icon(icon= "check")
            |OK
    paper-material.settingsMaterial
        div.settingsTitle
            | Upload wallpaper:
        div.settingsContent
            form(id="wallpaperForm", method="post", action="/changeWallpaper", enctype="multipart/form-data")
                paper-input(name ="wallpaper", type="file", id="wallpaper")
        paper-button.settingsButton(onclick="document.getElementById('wallpaperForm').submit()")
            iron-icon(icon= "check")
            |ok
    paper-material.settingsMaterial
        div.settingsTitle
            |Info
        div.settingsContent
            ="App made by "
            a.blackUrl(href="https://github.com/SolanaFish")
                ="SolanaFish"
            br
            br
            a.blackUrl(href="https://github.com/SolanaFish/SolanaPage")
                ="Repository"
            br
            br
            ="If you have any problems please open an issue "
            a.blackUrl(href="https://github.com/SolanaFish/SolanaPage/issues")
                ="here"
