doctype html
html
    head
        title= "SolanaPage"
        link(rel= "stylesheet", type= "text/css", href= "static/style.css")
        link(href= "https://fonts.googleapis.com/css?family=Roboto", rel= "stylesheet")
        link(rel= "import", href= "bower_components/iron-icons/av-icons.html")
        //- imports
        each paperImport in settings.imports.paper
            link(rel= "import", href= "bower_components/paper-" + paperImport.name +"/paper-"+ paperImport.name + ".html")
        each ironImport in settings.imports.iron
            link(rel= "import", href= "bower_components/iron-" + ironImport.name +"/iron-"+ ironImport.name + ".html")
    body
        each module in settings.modules
            if module.active == true
                div(id= module.name, class= "modules")
                    script(type="text/javascript", src=module.name + "/script.js")

        paper-button(id= "settings", onclick= "toggleSettings()")
            iron-icon(icon= "build")
            |Settings
        iron-collapse(id= "collapse")
            div(id= "d")
                paper-material
                    paper-material(elevation= "1")
                        |Change background
                        form(is= "iron-form", id= "wallpaper", action= "/changeBackground", method= "POST")
                            paper-input(label= "Background", type= "file")
                            paper-button(onclick= "submitForm('wallpaper')")
                                iron-icon(icon= "check")
                                |Upload
                    //- if bookmarks
                    paper-material(elevation= "1")
                        |Manage bookmarks
                        paper-material(elevation= "1")
                            |Add new bookmark
                            div(id= "addNewBookmark")
                            paper-dialog(id= "addNewCategoryDialog", modal)
                                h2= "Add new category"
                                template(is= "dom-bind")
                                    div
                                        paper-input(label= "Name of your category", id= "newCategoryName")
                                    div(class= "buttons")
                                        paper-button(dialog-dismiss)= "nah"
                                        paper-button(dialog-confirm, autofocus, onClick="sendNewCategory(newCategoryName.value)")= "ok"
                        paper-material(elevation= "1")
                            paper-button(id= "delete", onclick= "deleteBookmarks()")
                                iron-icon(icon= "clear")
                                |Delete bookmarks
        script(type="text/javascript", src="static/mainpage.js")
        script(type="text/javascript")
            each module in settings.modules
                if module.active == true
                    =module.jsEntry+"();"
