paper-card {
    margin: 1%;
    color: #D81B60;
    --paper-card-header-color: white;
    text-align: center;
}

#bookmarkTabs {
    background-color: #D81B60;
    color: white;
}

#deleteCategory {
    padding: 0%;
}

#addNewCategoryDialog {
    width: 80%;
}

#bookmarkTabs {
    --paper-tabs-selection-bar-color: #0091EA;
}

#bookmarksMaterial {
    padding: 0%;
    background-color: rgba(255, 255, 255, 0.90);
}

.deleteButton {
    color: white;
    background-color: #EF5350;
    width: 100%;
    margin: 1%;
}

.bookmarksLink {
    font-size: 20px;
    color: #D81B60;
}

.bookmarkTabs {
    background-color: #D81B60;
    color: white;
}

.collapseButton {
    width: 100%;
}

.deleteCategoryCard {
    --paper-card-header-color: #000;
}

.deleteMaterial {
    background-color: #E0E0E0;
    padding: 1%;
}
