paper-card {
    margin: 1%;
    color: var(--accent2-color);
    --paper-card-header-color: var(--item-color);
    text-align: center;
}

#bookmarkTabs {
    background-color: var(--accent2-color);
    color: white;
}

#deleteCategory {
    padding: 0%;
}

#addNewCategoryDialog {
    width: 80%;
}

#bookmarkTabs {
    --paper-tabs-selection-bar-color: var(--accent1-color);
}

#bookmarksMaterial {
    padding: 0%;
}

#customColorItem {
    margin-left: 3%;
}

#customColorToggleButton {
    margin-bottom: 10%;
}

.rightToggleButton {
    align-self: flex-end;
    flex: 0 1 auto;
}

.bookmarksLink {
    font-size: 20px;
    color: var(--accent2-color);
}

.bookmarkTabs {
    background-color: var(--accent2-color);
    color: white;
    margin-right: 2%;
}

.deleteMaterial {
    padding: 1%;
}

.deleteBookmarksContent {
    flex: 1 1 100%;
}

.deleteCategoryItem {
    background-color: var(--item-color);
    margin: 1%;
}

.bookmarksItemsItem {
    background-color: var(--item-color);
    margin: 1%;
    display: flex;
    flex-direction: row;
}

.bookmarksItemsDrawerItem {
    background-color: var(--item-color);
    margin: 0px;
}

.bookmarksItemsLink {
    text-decoration: none;
    color: var(--link-color);
}

.bookmarksItemsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0px;
    justify-content: space-between;
}

.bookmarksItemsDrawer {
    min-width: 250px;
    max-width: 400px;
    flex: 0 0 auto;
    margin: 0px;
    padding: 1%;
    padding-right: 0px;
    padding-left: 0px;
    background-color: var(--drawer-color);
}

.bookmarksItemsContent {
    flex: 1 0 auto;
}

.bookmarksItemMaterial {
    padding: 0px;
}

.paperItemHrefBody {
    flex: 1 0 auto;
}

.paperItemHrefButton {
    flex: 0 1 auto;
}

.alignCenter {
    align-self: center;
}

.alignEnd {
    align-self:flex-end;;
}

.customColorContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.customColorElement {
    flex:1 0 auto;
    margin: 0.5%;
}

paper-slider.red {
    --paper-slider-knob-color: #F44336;
    --paper-slider-active-color: #F44336;
}

paper-slider.green {
    --paper-slider-knob-color: #4CAF50;
    --paper-slider-active-color: #4CAF50;
}

paper-slider.blue {
    --paper-slider-knob-color: #2196F3;
    --paper-slider-active-color: #2196F3;
}
