paper-card {
    margin: 1%;
    color: #D81B60;
    --paper-card-header-color: white;
    text-align: center;
}

#bookmarkTabs {
    background-color: #D81B60;
    color: white;
}

#deleteCategory {
    padding: 0%;
}

#addNewCategoryDialog {
    width: 80%;
}

#bookmarkTabs {
    --paper-tabs-selection-bar-color: #0091EA;
}

#bookmarksMaterial {
    padding: 0%;
}

.deleteButton {
    color: white;
    background-color: #EF5350;
    width: 100%;
    margin: 1%;
}

.bookmarksLink {
    font-size: 20px;
    color: #D81B60;
}

.bookmarkTabs {
    background-color: #D81B60;
    color: white;
    margin-right: 2%;
}

.deleteMaterial {
    padding: 1%;
}

.deleteBookmarkCard {
    --paper-card-header-color: #000;
    flex: 0 0 auto;
}

.deleteBookmarksContent {
    padding-left: 2%;
    padding-bottom: 1%;
    flex: 1 1 100%;
}

.deleteCategoryItem {
    background-color: white;
    margin: 1%;
}

.bookmarksItemsItem {
    background-color: white;
    margin: 1%;
    display: flex;
    flex-direction: row;
}

.bookmarksItemsDrawerItem {
    background-color: white;
    margin: 0px;
}


.bookmarksItemsLink {
    text-decoration: none;
    color: black;
}

.bookmarksItemsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;;
    padding: 0px;
}

.bookmarksItemsDrawer {
    min-width: 250px;
    max-width: 400px;
    flex: 0 0 auto;
    margin: 0px;
    padding: 1%;
    padding-right: 0px;
    padding-left: 0px;
    background-color: white;
}

.bookmarksItemsContent {
    flex: 1 0 auto;
}

.bookmarksItemMaterial {
    padding: 0px;
}

.paperItemHrefBody {
    flex: 1 0 auto;
}

.paperItemHrefButton {
    flex: 0 1 auto;
}
