paper-material(elevation="1")
    each element in settings.current.elements
        case element.name
            when "uptime"
                if element.active
                    div.infoContainer
                        div.infoTitle
                            |System uptime
                        div.infoValue
                            = `${uptime.days} : ${('0' + uptime.hours).slice(-2)} : ${('0' + uptime.minutes).slice(-2)}`
            when "memory"
                if element.active
                    div.infoContainer.noPaddingTop
                        div.infoTitle
                            |Free memory
                        div.infoValue
                            = Math.floor((os.freemem()/os.totalmem())*100) + "%"
                    paper-progress.wideSlider(value= Math.floor(((os.totalmem() - os.freemem())/os.totalmem())*100), min= '0', max= '100')
            when "loadAverage"
                if element.active
                    div.infoContainer.noPaddingBottom
                        div.infoTitle
                            |Load average
                        div.infoValue
                            - var load = os.loadavg()[0].toFixed(2)
                            =load
                    div.loadSliderContainer
                        - var cores = os.cpus();
                        each core, index in cores
                            - var coreLoad = (load - index)*100
                            div.coreDiv
                                div.coreSlider
                                    paper-progress.wideSlider(value= coreLoad, min= 0, max= 100)
                                div.coreNumber
                                    = ` core ${index} `
