paper-material#bookmarksMaterial
    template#bookmarksTemplate(is= "dom-bind")
        if bookmarks.categories.length > 1
            paper-tabs#bookmarkTabs(selected= "{{page}}")
                each category in bookmarks.categories
                    paper-tab= category.name
            iron-pages#bookmarkPages(selected= "{{page}}")
                each category in bookmarks.categories
                    div
                        each bookmark in category.bookmarks
                            a.bookmarksLink(href= bookmark.url)
                                paper-card(image= `thumbnails/${bookmark.thumbnail}`)= bookmark.name
        else
            div
                each bookmark in bookmarks.categories[0].bookmarks
                    a.bookmarksLink(href= bookmark.url)
                        paper-card(image= `thumbnails/${bookmark.thumbnail}`)= bookmark.name
