paper-material.CVinfo
    div.CVcontainer
        div.CVdane
            div.CVnazwisko.settingsTitle
                |Michał Bartoszewicz
            div.CVdaneReszta
                div.CVdaneResztaR
                    |e-mail: 
                div.CVdaneResztaL
                    |michaql1@gmail.com
                div.CVdaneResztaR
                    |telefon: 
                div.CVdaneResztaL
                    |535-135-754
                div.CVdaneResztaR
                    |adres: 
                div.CVdaneResztaL
                    |Antczaka 26D/4
                    br
                    |Toruń 87-100
        div.CVphoto
            img(src="http://www.asciify.net/ascii/thumb/4454/asdasd.png")
paper-material.CVumiejetnosci.settingsMaterial
    div.settingsTitle
        |Umiejętności
    div.settingsContent
        div.eventContainer
            div.eventColor(colorId="blue")
            div.item
                |Dobra znajomośc języków front-endowych (JavaScript, HTML, CSS)
                
        div.eventContainer
            div.eventColor(colorId="blue")
            div.item
                |Dobra znajomośc frameworków JavaScript (React, polymer, etc.)
            
        div.eventContainer
            div.eventColor(colorId="blue")
            div.item
                |Dobra znajomość języków programowania Java, C++
            
        div.eventContainer
            div.eventColor(colorId="blue")
            div.item
                |Doświadczenie w projektach open source: https://github.com/SolanaFish/
            
        div.eventContainer
            div.eventColor(colorId="blue")
            div.item
                |Dobra znajomośc systemu kontroli wersji git
                    
        div.eventContainer
            div.eventColor(colorId="blue")
            div.item
                |Biegła znajomość języka angielskiego
            
        
paper-material.CVedukacja.settingsMaterial
    div.settingsTitle
        |Edukacja
    div.settingsContent
        div.eventContainer
            div.eventColor(colorId="blue")
            paper-item.eventItem(toggles, active="{{active}}")
                paper-item-body('two-line')
                    div
                        |Politechnika gdańska - informatyka
                    div(secondary)
                        |Październik 2015
        div.eventContainer
            div.eventColor(colorId="blue")
            paper-item.eventItem(toggles, active="{{active}}")
                paper-item-body('two-line')
                    div
                        |Liceum ogólnokształcące nr 10, Toruń
                    div(secondary)
                        |Wrzesień 2012 - Maj 2015
paper-material.CVzainteresowania.settingsMaterial
    div.settingsTitle
        |Zainteresowania
    div.settingsContent
        div.eventContainer
            div.eventColor(colorId="blue")
            div.item
                |Nowoczesne technologie
                
        div.eventContainer
            div.eventColor(colorId="blue")
            div.item
                |Produkcja aplikacji open source
        
        div.eventContainer
            div.eventColor(colorId="blue")
            div.item
                |Kolarstwo górskie i szosowe
                
        div.eventContainer
            div.eventColor(colorId="blue")
            div.item
                |Biegi długodystansowe
