.wideSlider {
    --paper-slider-height: 3px;
    width: 100%;
}

.currentWallpaperImage {
    display: block;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    max-width: 94%;
    align-self: center;
}

.currentWallpaperTitle {
    color: var(--accent1-color);
    text-align: center;
    font-size: 110%;
}

.currentWallpaperReddit {
    color: var(--accent1-color);
    text-align: center;
    font-size: 110%;
}

.wideButton {
    width:94%;
    background: var(--item-color);
}

.paddingTop {
    padding: 0px !important;
    padding-top: 1% !important;
}
