#redditRefreshSlider {
    --paper-slider-height: 3px;
    width: 100%;
}

#redditLinksSlider {
    --paper-slider-height: 3px;
    width: 100%;
}

#wallpaperInfoURL {
    color: black;
    font-size: 130%;
    padding: 2%;
    padding-bottom: 1%;
    text-decoration: none;
}

.currentWallpaperImage {
    display: block;
    margin: auto;
    align-self: center;
}

.currentWallpaperTitle {
    color: rgba(1, 87, 155, 0.8);
    text-align: center;
    font-size: 110%;
}

.currentWallpaperReddit {
    color: rgba(1, 87, 155, 0.8);
    text-align: center;
    font-size: 110%;
}
