.wideSlider {
    --paper-progress-active-color: #D81B60;
    --paper-progress-container-color: #9E9E9E;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
}

.coreDiv {
    --paper-progress-active-color: #D81B60;
    width: 100%;
    margin:10px;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;;
    align-items: center;
    justify-content: space-between;
}

.coreSlider {
    flex: 0 1 100%;
    width: 100%;
    margin-top: 1%;
}

.coreNumber {
    flex: 1 0 auto;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1%;
    padding: 1%;
}

.infoTitle {
    font-size: 110%;
    color: rgba(1, 87, 155, 0.8);
    flex: 0 1 auto;
}

.infoValue {
    font-size: 105%;
    flex: 0 1 auto;
}

.loadSliderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
    align-items: center;
}
