paper-material.loginContainer
    div.loginTitle
        = "To use this module you have to log in into your google account"
    div.loginContent
        a.darkA(href = tokenUrl)
            paper-button.wideButton
                |Login
