.MediaContainer {
    display: flex;
    flex-direction: row;
}

.mediaPhoto {
    flex: 0 0 auto;
}

.mediaControls {
    flex: 1 1 auto;
    margin: 1%;
}

.artist {
    font-size:110%;
}
.title {
    font-size:90%;
}

paper-button.controls {
    background: #424242;
    color:#ffffff;
}
