body {
    background-image: url("wall.jpg");
    background-color: #E91E63;
    font-family: 'Roboto', sans-serif;
}

paper-material {
    background-color: white;
    padding: 1% 2% 1% 2%;
    margin: 2%;
}

paper-card {
    margin: 1%;
    color: #D81B60;
    --paper-card-header-color: white;
    text-align: center;
}

#settings {
    padding: 15px;
    border: 1px solid #dedede;
    background-color: white;
}

#settingsButton {
    background-color: white;
}

#collapse {
    padding-top: 1%;
}

#settings {
    margin-left: 2%;
}

#bookmark-tabs {
    background-color: #D81B60;
    color: white;
}

.deleteButton {
    color: white;
    background-color: #EF5350;
}

.bookmarksLink {
    font-size: 20px;
    color: #D81B60;
}
