body {
    background-image: url("/wallpaper.jpg");
    background-color: #E91E63;
    font-family: 'Roboto', sans-serif;
}

paper-material {
    background-color: white;
    padding: 1% 2% 1% 2%;
    margin: 2%;
}

paper-card {
    margin: 1%;
    color: #D81B60;
    --paper-card-header-color: white;
    text-align: center;
}

iron-collapse {
    margin: 2%;
}

#mainFab, #settingsFab {
    position: fixed;
    left: 4%;
    bottom: 4%;
    z-index: 1000;
}

#bookmarkTabs {
    background-color: #D81B60;
    color: white;
}

.deleteButton {
    color: white;
    background-color: #EF5350;
    width: 100%;
}

.bookmarksLink {
    font-size: 20px;
    color: #D81B60;
}

.bookmarkTabs {
    background-color: #D81B60;
    color: white;
}

.collapseButton {
    width: 100%;
}
