div(class="settingsTitle")
    |Current wallpaper
div(class="settingsContent")
    div(class='currentWallpaperTitle')= wall.title
    div(class="currentWallpaperImage")
        a(href= wall.url)
            img(src= wall.url, height="400", class="currentWallpaperImage")
    div(class="currentWallpaperReddit")
        = "Orginal reddit post on "
        a(href= `https://reddit.com${wall.permalink}`, style="color: rgba(1, 87, 155, 0.8);")= `/r/${wall.subreddit}`
