if settings.subreddits === []
    div(class="error")
        |No subreddits specified! Module won't work!
paper-button(onclick="document.getElementById('wallpaperInfo').toggle()", toggles, class="collapseButton")= "Current wallpaper"
iron-collapse(id= "wallpaperInfo")
br
paper-toast(id= "subredditsToast", text= "Subreddits settings saved!")
paper-toast(id= "refreshToast", text= "Refresh settings saved!")
paper-toast(id= "linksToast", text= "Link settings saved!")
|How often to update reddit library:
paper-slider(id= "redditRefreshSlider", pin, snaps, editable, min="30", max= "600", max-markers= "30", step= "30", value= settings.refresh, onload="setupSlider")
|How many links to fetch from every reddit:
paper-slider(id= "redditLinksSlider", pin, snaps, editable, min="20", max= "200", max-markers= "30", step= "5", value= settings.links, onload="setupSlider")
div
    br
    |Manage subreddits:
    div(id="redditInputs")
        each subreddit in settings.subreddits
            paper-input(auto-validate,pattern= "[a-zA-Z]*", error-message="Letters only", label="Input subreddit name here", value=subreddit)
                div(prefix)
                    |/r/
        paper-input(auto-validate,pattern= "[a-zA-Z]*", error-message="Letters only", label="Input subreddit name here")
            div(prefix)
                |/r/
    paper-button(onclick="submitSubreddits()")
        iron-icon(icon="check")
        |OK
