div#media-controlls
    paper-material
        div.MediaContainer
            img#cover.mediaPhoto(src= imgUrl)
            div.mediaControls
                div.artist#artist
                    = ` ${title} `
                br
                div#title.title
                    = ` ${artist} `
                br
                div
                    paper-button.controls(onClick= "mediaSend('prev')", raised)
                        iron-icon(icon= "av:fast-rewind")
                        | prev
                    paper-button.controls(onClick= "mediaSend('play')", raised)
                        iron-icon(icon= "av:play-arrow")
                        | play
                    paper-button.controls(onClick= "mediaSend('next')", raised)
                        iron-icon(icon= "av:fast-forward")
                        | next
