div(id= "media-controlls")
    paper-material
        div.container
            img(src= imgUrl, id= "cover")
            div.flexChild(style= "margin:1%;")
                div.artist(id= "artist")
                    = ` ${title} `
                br
                div#title.title
                    = ` ${artist} `
                br
                div.controls
                    paper-button.controls(onClick= "mediaSend('prev')", raised)
                        iron-icon(icon= "av:fast-rewind")
                        | prev
                    paper-button.controls(onClick= "mediaSend('play')", raised)
                        iron-icon(icon= "av:play-arrow")
                        | play
                    paper-button.controls(onClick= "mediaSend('next')", raised)
                        iron-icon(icon= "av:fast-forward")
                        | next
style(is= "custom-style").
    .artist {
        font-size:110%;
    }
    .title {
        font-size:90%;
    }
    paper-button.controls {
        background: #424242;
        color:#ffffff;
    }
