:root {
    /* Theme variables */
    /* Color of apps background */
    --background-color: rgba(2, 104, 186, 1);
    /* Accent colors */
    /* Accent 1 is applied to titles and paper cards */
    --accent1-color: rgba(1, 87, 155, 0.8);
    /* Accent 2 is applied to progress bars*/
    --accent2-color: #D81B60;
    /* Accent 3 is applied to fav's title-bar's toggle-buttons and sliders*/
    --accent3-color: #3f51b5;
    /* Material color is applied to all paper-material elements */
    --material-color: rgba(255, 255, 255, 0.85);
    /* Item color is applied to all paper-item elements */
    --item-color: white;
    /* Color applied to light buttons */
    --button-light-color: rgba(255, 255, 255, 0);
    /* Color applied to dark buttons */
    --button-dark-color: #424242;
    /* Color applied to links (regardlessly of theri state) */
    --link-color: black;
    /* Color applied to paper-drawers */
    --drawer-color: white;
    /* Default color of text */
    --text-color:black;
    /* End of Theme variables */
}
